body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

h2 {
    color: black;
    background-color: rgb(255, 159, 69);
    padding: 6px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.5);
}

details {
    background-color: rgb(227, 227, 227);
    padding: 8px 15px;
    border-radius: 5px;
    border: 1.5px solid gray;
    color: rgb(0, 132, 247);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}